<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vroneinc.vrone">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23"/>

    <permission
        android:name="com.example.mapdemo.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:label="VR-One"
        android:supportsRtl="true">

        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBNl9xcd_PaAwcnBuPPnQlxkUbAh6RsBHc"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.vroneinc.vrone.MainActivity"
            android:theme="@android:style/Theme.Material.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LauncherActivity"
            android:theme="@style/LauncherTheme">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name="com.vroneinc.vrone.GameActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.vroneinc.vrone.TopicActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.Light" />
        <activity
            android:name="com.vroneinc.vrone.CameraDemoActivity"/>
        <activity
            android:name="com.vroneinc.vrone.ForumActivity"
            android:theme="@android:style/Theme.Material.Light"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".SignInActivity" />

        <activity
            android:name=".AuthBaseActivity" />

    </application>

</manifest>